
data/Sources/application_test.csv
data/Sources/application_train.csv
data/Sources/bureau.csv
data/Sources/bureau_balance.csv
data/Sources/credit_card_balance.csv
data/Sources/HomeCredit_columns_description.csv
data/Sources/installments_payments.csv
data/Sources/POS_CASH_balance.csv
data/Sources/previous_application.csv
data/Sources/Projet+Mise+en+prod+-+home-credit-default-risk.zip
data/Sources/sample_submission.csv
kernels/lightgbm_7th_place_solution.py
kernels/lightgbm_features.py
kernels/lightgbm_with_simple_features.py
svg/.ipynb_checkpoints/Deveau_Estelle_1_notebook_Features_Modelisation_052024-checkpoint.ipynb
svg/.ipynb_checkpoints/EDA-checkpoint.ipynb
svg/Deveau_Estelle_1_notebook_Features_Modelisation_052024.ipynb
svg/EDA.ipynb
svg/Untitled.ipynb
.idea/.name
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/Projet-7.iml
.idea/vcs.xml
.ipynb_checkpoints/Deveau_Estelle_1_notebook_EDA_052024-checkpoint.ipynb
.ipynb_checkpoints/Deveau_Estelle_2_notebook_Modelisation_052024-checkpoint.ipynb
__pycache__/feature_pipeline.cpython-312.pyc
data/Cleaned/application_test.csv
data/Cleaned/bureau.csv
data/Cleaned/bureau_balance.csv
data/Cleaned/credit_card_balance.csv
data/Cleaned/installments_payments.csv
data/Cleaned/POS_CASH_balance.csv
data/Cleaned/previous_application.csv
data/Cleaned/test.csv
data/Cleaned/train.csv
.idea_svg/.name
.idea_svg/inspectionProfiles/profiles_settings.xml
.idea_svg/inspectionProfiles/Project_Default.xml
.idea_svg/misc.xml
.idea_svg/modules.xml
.idea_svg/Projet-7.iml
.idea_svg/vcs.xml
